<!--
 Copyright 2021-2023 H2020 TeraFlow (https://www.teraflow-h2020.eu/)

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

{% extends 'base.html' %}

{% block content %}
    <h1>Device {{ device.device_id.device_uuid.uuid }}</h1>

    <div class="row mb-3">
        <div class="col-sm-3">
            <button type="button" class="btn btn-success" onclick="window.location.href = '/device/'"><i class="bi bi-box-arrow-in-left"></i>Back to device list</button>
        </div>
        <div class="col-sm-3">
            <a id="update" class="btn btn-secondary" href="#"><i class="bi bi-pencil-square"></i>Update</a>
        </div>
        <div class="col-sm-3">
            <!-- <button type="button" class="btn btn-danger"><i class="bi bi-x-square"></i>Delete device</button> -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                <i class="bi bi-x-square"></i>Delete device
              </button>
        </div>
    </div>

    <div class="row mb-3">
        <b>UUID:</b>
        <div class="col-sm-10">
            {{ device.device_id.device_uuid.uuid }}
        </div>
    </div>
    <div class="row mb-3">
        <b>Type:</b>
        <div class="col-sm-10">
            {{ device.device_type }}
        </div>
    </div>
    <div class="row mb-3">
        <b>Configurations:</b>
        <div class="col-sm-10">
            <ul>
            {% for config in device.device_config.config_rules %}
                <li>{{ config.resource_key }}: {{ config.resource_value }}</li>
            {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row mb-3">
        <b>Endpoints:</b>
        <div class="col-sm-10">
            <ul>
            {% for endpoint in device.device_endpoints %}
                <li>{{ endpoint.endpoint_id.endpoint_uuid.uuid }}: {{ endpoint.endpoint_type }}</li>
            {% endfor %}
            </ul>
        </div>
    </div>

    <!-- Modal -->
<div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Delete device?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete the device "{{ device.device_id.device_uuid.uuid }}"?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          <a type="button" class="btn btn-danger" href="{{ url_for('device.delete', device_uuid=device.device_id.device_uuid.uuid) }}"><i class="bi bi-exclamation-diamond"></i>Yes</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}